nav{
    height: 10vh;
    display: flex;
justify-content: space-between;
/* align-items: center; */
}
nav .n-left{
    display: flex;
    gap: 2rem;
    flex: 1;
    align-items: center;
  
}
nav .n-left .logo span{
    font-weight: bold;
    font-size: 1.3rem;
}
nav .n-left img{margin-right: 2rem;}

.n-list{flex: 10;}
nav .n-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: 400;
    
}

/* nav .n-right ul{display: flex;} */
nav .n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
}
nav .n-list>ul>a:hover{
    cursor: pointer;
    color: var(--orange);
}
nav .n-list>ul>a .active{ text-decoration: none; font-weight: bold; color: var(--orange);}
nav .n-right button{
    background-color: var(--orange);
    border-radius: 34px;
    border: none;
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    padding: 11px 26px 11px 26px;
    font-size: 16px;
    
}
nav .n-right .npt{flex: 2; border: none;}
nav .n-right button:hover{
    background-color: #fff;
    border: 1px solid var(--orange);
    color: var(--orange);
}
